<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OPC"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="com.qa141.db.C9_DB_12_DatabaseError_Test"/>
<listEntry value="com.qa132.java.C9_Java_11_VerifyLinks_Test"/>
<listEntry value="com.safc.qa131.C9_DB_05_PackagedApplications_Remove_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_28_NetworkTab_AccessRules_Create"/>
<listEntry value="com.qa141.dcs.C9_Devservice_02_ProjectPage_Test"/>
<listEntry value="com.qa132.db.C9_DB_02_DataBaseApplications_Create_Run_Test"/>
<listEntry value="com.safc.extra.NewTest"/>
<listEntry value="com.opc.test.SSO_LoginTest"/>
<listEntry value="com.qa141.db.C9_DB_09_DBService_link_Test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_14_PublicIpsShowFilter"/>
<listEntry value="com.safc.android.C9_DB_08_AddUser"/>
<listEntry value="com.qa132.securities.C9_Security_04_Adminmodifyuser_Test"/>
<listEntry value="com.qa132.java.C9_Java_16_SearchFeature_Test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_13_PublicIpsSearch"/>
<listEntry value="com.qa141.myaccount.C9_MYA_03_VerifyUI_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_24_NetworkTab_Protocols_SearchBox"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_03_ChatNow_ContactUs_Test"/>
<listEntry value="com.qa141.occs.trialservice.C9_opcstrialcreation_01_LogonLogout_Test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_03_IpListSearch"/>
<listEntry value="com.qa132.myservices.C9_MYS_06_Security_Test"/>
<listEntry value="com.qa151.pb.C9_PB_17_19492761_DBCS_ConsoleMissingData"/>
<listEntry value="com.qa141.myservices.C9_MYS_08_ValidateErrorpages_Test"/>
<listEntry value="com.safc.qa131.C9_EMGC_04_AccessJavaApplicationDeployed_Test"/>
<listEntry value="com.safc.ios.IOS_C9_CloudUI_Create_Trial_DBService_SameSAIDA_Test"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_04_AdminModifyUser_Test"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_01_LogonLogout_Test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_15_PublicIpsUpdate"/>
<listEntry value="com.safc.qa131.C9_DB_08_AddUser"/>
<listEntry value="com.qa132.java.C9_Java_15_ErrorHandling_Test"/>
<listEntry value="com.hudson.dashboard.HudsonDashboard_PushDataToWebsheet"/>
<listEntry value="com.safc.android.Android_C9_DB_09_DBService_link_Test"/>
<listEntry value="com.safc.android.Android_C9_DB_01_LoginLogoutOfApex_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_15_Leverage_Infrastructure_Test"/>
<listEntry value="com.safc.qa131.C9_CloudUI_Create_Trial_DBService_Test"/>
<listEntry value="com.qa141.securities.C9_Security_05_ResetPwdAuto_Test"/>
<listEntry value="com.qa132.db.C9_DB_03_DataBaseApplications_Delete_Test"/>
<listEntry value="com.safc.extra.Android_C9_CloudUI_HomePage_Test"/>
<listEntry value="com.safc.ios.IOS_C9_DB_09_DBService_link_Test"/>
<listEntry value="com.safc.android.Android_C9_EMGC_07_AccessMyServicesPage_Test"/>
<listEntry value="com.qa141.db.C9_DB_13_WebsheetFieldValidation_Test"/>
<listEntry value="com.qa141.occs.dbservice.C9_OCDBS_01_InstanceCreation"/>
<listEntry value="com.safc.qa131.C9_DB_06_WebSheetApplications_Create_Run_Test"/>
<listEntry value="com.qa132.db.C9_DB_13_Websheetfieldvalidation_Test"/>
<listEntry value="com.qa151.pb.C9_PB_47_19641007_PlaceholderTextInSearch"/>
<listEntry value="com.qa141.myservices.C9_MYS_07_Filedownload"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_08_Engage_Sales_Test"/>
<listEntry value="com.safc.qa131.C9_CloudUI_HomePage_Test"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_20_IdentitySelfService_Test"/>
<listEntry value="com.safc.extra.C9_CloudUI_Create_Trial_DBService_SameSAIDA_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_08_Engage_Sales_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_17_More_Resources_Test"/>
<listEntry value="com.qa132.securities.C9_Security_15_Assigncustomrole_Test"/>
<listEntry value="com.qa141.securities.C9_Security_11_SFTPFieldValidation_Test"/>
<listEntry value="com.qa141.securities.C9_Security_18_ChallengeQuestion_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_30_NetworkTab_AccessRules_SearchBox"/>
<listEntry value="com.safc.android.Android_C9_DB_06_WebSheetApplications_Create_Run_Test"/>
<listEntry value="com.safc.ios.IOS_C9_DB_06_WebSheetApplications_Create_Run_Test"/>
<listEntry value="com.qa141.dcs.C9_Devservice_11_Wiki_Test"/>
<listEntry value="com.qa141.securities.C9_Security_15_AssignCustomRole_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_14_SecurityTab_SSHPublicKey_Add"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_20_Data_Test"/>
<listEntry value="com.qa141.occs.mys.C9_GlobalMyService_Verify_Logout_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_15_Infrastructure_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_15_Leverage_Infrastructure_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_07_Service_Test"/>
<listEntry value="com.qa141.securities.C9_Security_10_UserRemove_Test"/>
<listEntry value="com.qa141.cloudui.C9_CloudUI_02_Create_Trial_DBService_Test"/>
<listEntry value="com.qa132.myservices.C9_MYS_04_FieldLevelCheck_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_19_SecurityTab_SSHKey_View"/>
<listEntry value="com.qa132.java.C9_EMGC_08_DeleteApplication_Test"/>
<listEntry value="com.qa141.occs.paidservices.C9_OCCS_04_Verify_JAAS_service_Creation"/>
<listEntry value="com.qa132.db.C9_DB_14_Search_Test"/>
<listEntry value="com.qa132.java.C9_Java_14_ValidateError_Test"/>
<listEntry value="com.qa132.db.C9_DB_06_WebSheetApplications_Create_Run_Test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_16_PublicIpsDelete"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_06_adduser_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_13_SecurityTab_Verify"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_19_ChangePassword_Test"/>
<listEntry value="com.safc.qa131.C9_DB_02_DataBaseApplications_Create_Run_Test"/>
<listEntry value="com.safc.extra.NewTest1"/>
<listEntry value="com.qa132.services.C9_Storage_02_MyServicePage_Test"/>
<listEntry value="com.hudson.dashboard.JDBCScript_PushdataOnSlc06cdqDashBoard"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_07_StorageTile_Verify"/>
<listEntry value="com.qa141.securities.C9_Security_14_ModifyCustomrole_Test"/>
<listEntry value="com.qa151.pb.C9_PB_42_19642900_VerifyUnattachedOptionInShowFilterOfStorage"/>
<listEntry value="com.safc.ios.C9_EMGC_08_DeleteApplication_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_06_Engage_Customers_Test"/>
<listEntry value="com.qa132.java.C9_EMGC_05_StopAplication_Test"/>
<listEntry value="com.qa132.db.C9_DB_04_PackagedApplications_Install_Run_Test"/>
<listEntry value="com.qa132.services.C9_CloudUI_Create_Trial_JavaService_Test"/>
<listEntry value="com.qa132.myaccount.C9_MYA_08_ValidateErrorpages_Test"/>
<listEntry value="com.safc.ios.C9_EMGC_05_StopAplication_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_11_Supply_Change_Management_Test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_06_NetworkGroup"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_12_Manage_Enterprise_Performance_Test"/>
<listEntry value="com.safc.android.Android_C9_CloudUI_MyService_Test"/>
<listEntry value="com.safc.extra.Android_Appium_Test"/>
<listEntry value="com.qa132.securities.C9_Security_13_addcustomrole_Test"/>
<listEntry value="com.qa141.db.C9_DB_10_Administration_EditDescription_Test"/>
<listEntry value="com.qa151.pb.C9_PB_10_19585341_DBAAS_BkupAssitantRetryBuiltinforOSSAccess"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_23_NetworkTab_Protocols_Create"/>
<listEntry value="com.qa132.services.C9_Storage_01_Create_Trial_StorageService_Test"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_13_AddCustomRole_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_13_Get_Social_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_08_StorageVolume_Create"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_14_Build_Apps_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_09_StorageVolume_Filter"/>
<listEntry value="com.qa141.myservices.C9_MYS_01_loginLogout_Test"/>
<listEntry value="com.opc.test.DataDriven_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_17_SecurityTab_SSHKey_Menu"/>
<listEntry value="com.safc.ios.C9_EMGC_07_AccessMyServicesPage_Test"/>
<listEntry value="com.qa141.securities.C9_Security_08_ModifyFieldValidation_Test"/>
<listEntry value="com.safc.android.Android_C9_DB_02_DataBaseApplications_Create_Run_Test"/>
<listEntry value="com.qa141.occs.trialservice.C9_opcstrialcreation_04_userverificationpage_Test"/>
<listEntry value="com.qa141.myaccount.C9_MYA_02_VerifyAllLinks_Test"/>
<listEntry value="com.qa151.pb.C9_PB_34_19555159_ComputeUI_ProtocolFieldInTheCreateAccessRuleDialogNotEasyToUse"/>
<listEntry value="com.qa141.occs.myaccount.C9_GMYA_27_Verify_AddAccountAdministrator_Test"/>
<listEntry value="com.safc.qa131.C9_DB_03_DataBaseApplications_Delete_Test"/>
<listEntry value="com.qa132.db.C9_DB_16_Websheeterror_Test"/>
<listEntry value="com.qa141.cloudui.C9_CloudUI_01_HomePage_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_15_Infrastructure_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_10_Global_Human_Resources_Test"/>
<listEntry value="com.qa132.java.C9_EMGC_06_ReDeployingJavaApplication_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_05_ComputeInstance_Upadate"/>
<listEntry value="com.qa132.services.C9_Messaging_02_MyServicePage_Test"/>
<listEntry value="com.qa132.myservices.C9_MYS_03_VerifyUI_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_27_NetworkTab_AccessRulesTile_Verify"/>
<listEntry value="com.opc.test.DemoTest"/>
<listEntry value="com.qa141.cloudui.C9_CloudUI_03_Chatnow_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_10_StorageVolume_Update"/>
<listEntry value="com.qa132.securities.C9_Security_08_modifyfieldvalidation_Test"/>
<listEntry value="com.safc.android.Android_C9_CloudUI_HomePage_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_06_ComputeInstance_Delete"/>
<listEntry value="com.safc.ios.IOS_C9_CloudUI_MyService_Test"/>
<listEntry value="com.safc.qa131.C9_Java_10_Unlock_Test"/>
<listEntry value="com.safc.ios.IOS_C9_EMGC_03_StartApplication_Test"/>
<listEntry value="com.safc.extra.C9_DB_03_DataBaseApplications_Delete_Test"/>
<listEntry value="com.opc.locators.CloudSelectSignInPage"/>
<listEntry value="com.qa141.myservices.C9_MYS_05_ErrorHandling_Test"/>
<listEntry value="com.qa141.securities.C9_Security_03_AdminUserRemove_Test"/>
<listEntry value="com.qa132.java.C9_EMGC_02_DeployingJavaApplication_Test"/>
<listEntry value="com.qa132.db.C9_DB_15_UI_Test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_11_PublicIps"/>
<listEntry value="com.safc.ios.IOS_C9_EMGC_01_LoginLogoutOfJavaServiceConsole_Test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_05_IpListDelete"/>
<listEntry value="com.qa132.java.C9_Java_18_Functionality_Test"/>
<listEntry value="com.hudson.dashboard.JDBCScript_Pushdata"/>
<listEntry value="com.qa141.securities.C9_Security_01_LogonLogout_Test"/>
<listEntry value="com.qa151.pb.C9_PB_45_19641080_TextInStorageScreenCreateInstance"/>
<listEntry value="com.qa141.dcs.C9_Devservice_07_Tasks_Test"/>
<listEntry value="com.qa132.securities.C9_Security_06_managerole_Test"/>
<listEntry value="com.safc.extra.CopyOfC9_IDM_UserCreation"/>
<listEntry value="com.safc.qa131.C9_DB_07_WebSheetApplications_Delete_Test"/>
<listEntry value="com.qa141.db.C9_DB_05_PackagedApplications_Remove_Test"/>
<listEntry value="com.opc.locators.CloudHomePage12May_Backup"/>
<listEntry value="com.qa141.securities.C9_Security_09_ModifyUser_Test"/>
<listEntry value="com.qa141.securities.C9_Security_22_Search_Test"/>
<listEntry value="com.qa132.myaccount.C9_MYA_04_FieldLevelCheck_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_11_Supply_Change_Management_Test"/>
<listEntry value="com.safc.qa131.C9_IDM_01_UserCreation"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_15_SecurityTab_Filter"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_01_IpList"/>
<listEntry value="com.qa132.services.C9_CloudUI_Create_Trial_DBService_Test"/>
<listEntry value="com.qa132.securities.C9_Security_12_SFTPuserreset_Test"/>
<listEntry value="com.qa141.myservices.C9_MYS_10_FunctionalityCheck_Test"/>
<listEntry value="com.qa141.occs.javaservice.C9_OCJS_01_SearchBox"/>
<listEntry value="com.qa141.occs.mys.C9_GlobalMyService_Verify_DropdownMenu"/>
<listEntry value="com.safc.extra.C9_EMGC_03_StartApplication_Test"/>
<listEntry value="com.qa132.services.C9_Messaging_01_Create_Trial_MessagingService_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_16_Resources_Discover_Test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_04_IpListUpdate"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_17_More_Resources_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_20_Data_Test"/>
<listEntry value="com.qa151.pb.C9_PB_50_19565551_In_DB_UI_ComputeConsoleNotClickable_In_IE9"/>
<listEntry value="com.qa151.pb.C9_PB_40_19643792_BubbleUpSelectableValuesInDropdowns"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_14_Platform_Test"/>
<listEntry value="com.safc.ios.C9_DB_03_DataBaseApplications_Delete_Test"/>
<listEntry value="com.qa141.securities.C9_Security_04_AdminModifyUser_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_19_Configure_Price_Quote_Test"/>
<listEntry value="com.safc.qa131.C9_DB_Cancel_Trial_DBServices_Test"/>
<listEntry value="com.qa141.myaccount.C9_MYA_05_ErrorHandling_Test"/>
<listEntry value="com.qa151.pb.C9_PB_33_19544433_ComputeUI_VerifyCopyrightTextInComputeConsole"/>
<listEntry value="com.qa141.myaccount.C9_MYA_06_Security_Test"/>
<listEntry value="com.qa141.myservices.C9_MYS_09_SearchFilter_Test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_02_IpListCreate"/>
<listEntry value="com.qa151.pb.C9_PB_16_19454319_DBCS_Configwizardmissingdata"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_10_Global_Human_Resources_Test"/>
<listEntry value="com.qa141.occs.dbservice.C9_OCDBS_03_InstanceModification"/>
<listEntry value="com.safc.extra.C9_EMGC_08_DeleteApplication_Test"/>
<listEntry value="com.qa141.occs.paidservices.C9_OCCS_01_Verify_IAAS_service_Creation"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_15_RemoveRole_Test"/>
<listEntry value="com.safc.android.Android_C9_CloudUI_MyAccount_Test"/>
<listEntry value="com.qa151.pb.C9_PB_44_19641232_VerifyText"/>
<listEntry value="com.qa141.occs.paidservices.C9_OCCS_03_Verify_IAAS_BrowsercertificationChecklist"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_21_Search_Test"/>
<listEntry value="com.qa151.pb.C9_PB_09_19580431_DBAAS_InstancesStuckinProvisioning"/>
<listEntry value="com.qa132.securities.C9_Security_05_resetpwdauto_Test"/>
<listEntry value="com.qa141.securities.C9_Security_13_AddCustomRole_Test"/>
<listEntry value="com.safc.android.Android_C9_DB_10_Administration_EditDescription_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_18_SecurityTab_SSHKey_Update"/>
<listEntry value="com.qa132.securities.C9_Security_20_Changepassword_Test"/>
<listEntry value="com.qa132.myservices.C9_MYS_02_VerifyAllLinks_Test"/>
<listEntry value="com.hudson.dashboard.HudsonDashboard_PushDataToDashboard"/>
<listEntry value="com.qa151.pb.C9_PB_49_19577589_TextInConsoleMenuNotConsistentAccross_DB_Java_Compute_UI"/>
<listEntry value="com.safc.qa131.C9_EMGC_03_StartApplication_Test"/>
<listEntry value="com.qa132.securities.C9_Security_10_userremove_Test"/>
<listEntry value="com.safc.qa131.C9_IDM_04_DeleteRole_UniqueRoleName_Test"/>
<listEntry value="com.qa132.java.C9_EMGC_04_AccessJavaApplicationDeployed_Test"/>
<listEntry value="com.qa132.securities.C9_Security_19_Sorting_Test"/>
<listEntry value="com.qa132.db.C9_DB_07_WebSheetApplications_Delete_Test"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_02_LoggedasIDA_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_01_HeaderFooter_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_09_Empower_People_Test"/>
<listEntry value="com.qa151.pb.C9_PB_08_19434187_DBAAS_InstanceCreationHighMemoryShapes"/>
<listEntry value="com.qa141.occs.paidservices.C9_OCCS_09_Verify_DBAAS_BrowsercertificationChecklist"/>
<listEntry value="com.qa132.java.C9_Java_13_FieldLevelCheck_Test"/>
<listEntry value="com.qa132.securities.C9_Security_23_UI_Test"/>
<listEntry value="com.safc.qa131.C9_Java_Cancel_Trial_JavaServices_Test"/>
<listEntry value="com.qa141.myaccount.C9_MYA_09_FunctionalityCheck_Test"/>
<listEntry value="com.qa141.dcs.C9_Devservice_08_Admin_Test"/>
<listEntry value="com.safc.qa131.C9_DB_11_Lock_Test"/>
<listEntry value="com.qa141.myaccount.C9_MYA_07_SearchFilter_Test"/>
<listEntry value="com.qa132.cloudui.C9_CloudUI_04_MyServicesLink_test"/>
<listEntry value="com.qa132.cloudui.C9_CloudUI_05_MyAccount_Test"/>
<listEntry value="com.qa132.securities.C9_Security_18_challengequestion_Test"/>
<listEntry value="com.qa132.securities.C9_Security_21_identityselfservice_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_07_Service_Test"/>
<listEntry value="com.qa141.securities.C9_Security_17_RemoveCustomRole_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_01_ComputeInstance_InstancesTile_Verify"/>
<listEntry value="com.qa141.myaccount.C9_MYA_01_loginLogout_Test"/>
<listEntry value="com.qa132.myservices.C9_MYS_07_Filedownload"/>
<listEntry value="com.qa132.cloudui.C9_CloudUI_01_HomePage_Test"/>
<listEntry value="com.safc.android.Android_C9_Java_09_Lock_Test"/>
<listEntry value="com.qa141.myservices.C9_MYS_06_Security_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_02_Empower_Business_Test"/>
<listEntry value="com.qa141.myservices.C9_MYS_02_VerifyAllLinks_Test"/>
<listEntry value="com.opc.locators.CloudHomePage"/>
<listEntry value="com.qa141.occs.mys.C9_Global_My_Service_Verify_Quicklinks_Test"/>
<listEntry value="com.safc.qa131.C9_EMGC_01_LoginLogoutOfJavaServiceConsole_Test"/>
<listEntry value="com.safc.qa131.C9_EMGC_02_DeployingJavaApplication_Test"/>
<listEntry value="com.qa151.pb.C9_PB_26_19491885_ComputeUI_ComputeUIDoesNotRefreshOrOfferMethodToRefresh"/>
<listEntry value="com.qa141.securities.C9_Security_16_RemoveRole_Test"/>
<listEntry value="com.qa132.db.C9_DB_09_DBService_link_Test"/>
<listEntry value="com.safc.android.Android_C9_DB_04_PackagedApplications_Install_Run_Test"/>
<listEntry value="com.safc.ios.C9_EMGC_02_DeployingJavaApplication_Test"/>
<listEntry value="com.qa141.dcs.C9_Devservice_05_Browse_Test"/>
<listEntry value="com.qa132.db.C9_DB_01_LoginLogoutOfApex_Test"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_07_ManageRole_Test"/>
<listEntry value="com.qa141.occs.paidservices.C9_OCCS_08_Verify_DBAAS_AccountSetup"/>
<listEntry value="com.safc.qa131.C9_DB_04_PackagedApplications_Install_Run_Test"/>
<listEntry value="com.qa132.securities.C9_Security_11_SFTPfieldvalidation_Test"/>
<listEntry value="com.qa132.myaccount.C9_MYA_07_SearchFilter_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_14_Build_Apps_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_25_NetworkTab_Protocols_Menu"/>
<listEntry value="com.qa141.occs.trialservice.C9_opcstrialcreation_02_meteredservicetrialcreation_Test"/>
<listEntry value="com.qa141.occs.trialservice.C9_opcstrialcreation_05_servicedetailpage_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_11_StorageVolume_SearchBox"/>
<listEntry value="com.qa141.occs.paidservices.C9_OCCS_07_Verify_DBAAS_service_Creation"/>
<listEntry value="com.qa132.securities.C9_Security_16_removerole_Test"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_17_ChallengeQuestion_Test"/>
<listEntry value="com.qa141.occs.myaccount.C9_GMYA_28_Verify_UpdateAccountAdministrator_Test"/>
<listEntry value="com.qa132.securities.C9_Security_17_removecustomrole_Test"/>
<listEntry value="com.qa151.pb.C9_PB_35_19563302_19563267_ComputeUI_VerifyCopyrightTextInDBaaSJaaSConsole"/>
<listEntry value="com.safc.android.LaunchEmulator"/>
<listEntry value="com.qa132.java.C9_EMGC_03_StartApplication_Test"/>
<listEntry value="com.safc.qa131.C9_IDM_03_CreateRole_WithUniqueRoleName_Test"/>
<listEntry value="com.qa141.db.C9_DB_02_DataBaseApplications_Create_Run_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_19_Configure_Price_Quote_Test"/>
<listEntry value="com.qa141.db.C9_DB_03_DataBaseApplications_Delete_Test"/>
<listEntry value="com.opc.locators.UILocators"/>
<listEntry value="com.qa141.db.C9_DB_14_Search_Test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_10_NetworkGroupDelete"/>
<listEntry value="com.safc.ios.IOS_C9_DB_05_PackagedApplications_Remove_Test"/>
<listEntry value="com.qa141.securities.C9_Security_06_ManageRole_Test"/>
<listEntry value="com.qa141.securities.C9_Security_20_ChangePassword_Test"/>
<listEntry value="com.qa151.pb.C9_PB_46_19641053_UATextCreateInstanceNetworkScreen"/>
<listEntry value="com.qa132.myservices.C9_MYS_01_loginLogout_Test"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_12_SFTPUserReset_Test"/>
<listEntry value="com.qa141.securities.C9_Security_12_SFTPUserReset_Test"/>
<listEntry value="com.safc.android.Android_C9_DB_07_WebSheetApplications_Delete_Test"/>
<listEntry value="com.qa132.java.C9_Java_12_VerifyUI_Test"/>
<listEntry value="com.safc.extra.Example"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_16_SecurityTab_SearchBox"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_14_AssignCustomRole_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_18_Cloud_MarketPlace"/>
<listEntry value="com.qa151.pb.C9_PB_39_19511134_JCSCreationSSHKeyVerification"/>
<listEntry value="com.qa132.securities.C9_Security_14_ModifyCustomrole_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_05_All_Buttons_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_29_NetworkTab_AccessRules_Filter"/>
<listEntry value="com.qa141.occs.myaccount.C9_GMYA_26_Verify_Dashboard_Test"/>
<listEntry value="com.qa141.securities.C9_Security_21_IdentitySelfService_Test"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_10_UserRemove_Test"/>
<listEntry value="com.safc.qa131.C9_EMGC_06_ReDeployingJavaApplication_Test"/>
<listEntry value="com.qa141.myservices.C9_MYS_12_HeaderFooter_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_05_All_Buttons_Test"/>
<listEntry value="com.qa141.services.C9_CloudUI_Create_Trial_JavaService_Test"/>
<listEntry value="com.qa141.dcs.C9_Devservice_10_LoginLogout_Test"/>
<listEntry value="com.qa141.db.C9_DB_04_PackagedApplications_Install_Run_Test"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_03_AdminUserRemove_Test"/>
<listEntry value="com.safc.ios.IOS_C9_DB_10_Administration_EditDescription_Test"/>
<listEntry value="com.qa132.cloudui.C9_CloudUI_02_Create_Trial_DBService_Test"/>
<listEntry value="com.safc.extra.SwipeableWebDriver"/>
<listEntry value="com.hudson.dashboard.HudsonDashboard_ParseJobs"/>
<listEntry value="com.qa141.myservices.C9_MYS_04_FieldLevelCheck_Test"/>
<listEntry value="com.qa151.pb.C9_PB_18_19454319_DBCS_Provisioning"/>
<listEntry value="com.qa141.db.C9_DB_16_WebsheetError_Test"/>
<listEntry value="com.qa141.occs.dbservice.C9_OCDBS_04_DeleteService"/>
<listEntry value="com.qa151.pb.C9_PB_19_19605585_UnableToAddAccountAdmin"/>
<listEntry value="com.qa141.db.C9_DB_06_WebSheetApplications_Create_Run_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_04_LoginNotRequired_Test"/>
<listEntry value="com.qa132.myaccount.C9_MYA_02_VerifyAllLinks_Test"/>
<listEntry value="com.qa141.services.C9_Storage_02_MyServicePage_Test"/>
<listEntry value="com.qa141.myservices.C9_MYS_03_VerifyUI_Test"/>
<listEntry value="com.qa132.myservices.C9_MYS_08_ValidateErrorpages_Test"/>
<listEntry value="com.qa141.dcs.C9_Devservice_12_DeleteProject_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_14_Platform_Test"/>
<listEntry value="com.opc.util.XMLHandler"/>
<listEntry value="com.qa132.myaccount.C9_MYA_03_VerifyUI_Test"/>
<listEntry value="com.qa141.occs.trialservice.C9_opcstrialcreation_03_ACinfofieldvalidation_Test"/>
<listEntry value="com.opc.common.Login"/>
<listEntry value="com.qa141.services.C9_Storage_01_Create_Trial_StorageService_Test"/>
<listEntry value="com.safc.extra.Java_StartApplication_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_18_Cloud_MarketPlace"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_08_ModifyFieldValidation_Test"/>
<listEntry value="com.qa132.db.C9_DB_10_Administration_EditDescription_Test"/>
<listEntry value="com.qa141.occs.dbservice.C9_OCDBS_02_SearchBox"/>
<listEntry value="com.qa132.java.C9_EMGC_01_LoginLogoutOfJavaServiceConsole_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_31_NetworkTab_AccessRules_Menu"/>
<listEntry value="com.qa141.db.C9_DB_15_UI_Test"/>
<listEntry value="com.qa132.securities.C9_Security_03_AdminUserRemove_Test"/>
<listEntry value="com.safc.qa131.C9_EMGC_07_AccessMyServicesPage_Test"/>
<listEntry value="com.qa141.services.C9_Messaging_01_Create_Trial_MessagingService_Test"/>
<listEntry value="com.qa132.securities.C9_Security_09_Modifyuser_Test"/>
<listEntry value="com.qa141.myaccount.C9_MYA_08_ValidateErrorpages_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_22_NetworkTab_ProtocolsTile_Verify"/>
<listEntry value="com.qa141.occs.paidservices.C9_OCCS_02_Verify_IAAS_AccountSetup"/>
<listEntry value="com.opc.common.Browser"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_16_RemoveCustomRole_Test"/>
<listEntry value="com.safc.qa131.C9_DB_12_Unlock_Test"/>
<listEntry value="com.safc.qa131.C9_Java_09_Lock_Test"/>
<listEntry value="com.qa132.db.C9_DB_12_Databaseerror_Test"/>
<listEntry value="com.safc.qa131.C9_DB_09_DBService_link_Test"/>
<listEntry value="com.qa132.securities.C9_Security_02_loggedasIDA_Test"/>
<listEntry value="com.qa132.securities.C9_Security_22_Search_Test"/>
<listEntry value="com.qa132.java.C9_EMGC_07_AccessMyServicesPage_Test"/>
<listEntry value="com.safc.ios.IOS_C9_CloudUI_HomePage_Test"/>
<listEntry value="com.safc.ios.C9_DB_08_AddUser"/>
<listEntry value="com.qa141.dcs.C9_Devservice_04_ProjectLanding_Test"/>
<listEntry value="com.qa132.myservices.C9_MYS_10_FunctionalityCheck_Test"/>
<listEntry value="com.qa141.dcs.C9_Devservice_09_Reviews_Test"/>
<listEntry value="com.safc.extra.C9_EMGC_05_StopAplication_Test"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_09_ModifyUser_Test"/>
<listEntry value="com.qa151.pb.C9_PB_38_19511126_DBSCreationSSHKeyVerification"/>
<listEntry value="com.safc.qa131.C9_CloudUI_Create_Trial_DBService_SameSAIDA_Test"/>
<listEntry value="com.safc.android.Android_C9_DB_05_PackagedApplications_Remove_Test"/>
<listEntry value="com.qa141.occs.trialservice.C9_opcstrialcreation_06_browserchecklist_Test"/>
<listEntry value="com.qa132.myservices.C9_MYS_05_ErrorHandling_Test"/>
<listEntry value="com.qa151.pb.C9_PB_28_19498932_ComputeUI_AboutDialogBoxMentionsCreatingInstances"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_06_Engage_Customers_Test"/>
<listEntry value="com.qa141.securities.C9_Security_02_LoggedAsIDA_Test"/>
<listEntry value="com.safc.ios.IOS_C9_DB_01_LoginLogoutOfApex_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_03_ChatNow_ContactUs_Test"/>
<listEntry value="com.qa151.pb.C9_PB_29_19498533_ComputeUI_InstanceAndServiceTermsNotUsedConsistently"/>
<listEntry value="com.qa132.securities.C9_Security_01_LogonLogout_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_04_LoginNotRequired_Test"/>
<listEntry value="com.safc.extra.C9QA132_CloudUI_MyService_Test"/>
<listEntry value="com.qa141.services.C9_Messaging_02_MyServicePage_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_01_HeaderFooter_Test"/>
<listEntry value="com.safc.qa131.C9_DB_01_LoginLogoutOfApex_Test"/>
<listEntry value="com.qa132.db.C9_DB_05_PackagedApplications_Remove_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_16_Resources_Discover_Test"/>
<listEntry value="com.opc.test.C9_LoginTest"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_11_SFTPFieldValidation_Test"/>
<listEntry value="com.qa141.services.C9_CloudUI_Create_Trial_DBService_Test"/>
<listEntry value="com.hudson.dashboard.HelperFunction"/>
<listEntry value="com.qa132.cloudui.C9_CloudUI_03_Chatnow_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_02_ComputeInstance_Create"/>
<listEntry value="com.opc.util.Utility"/>
<listEntry value="com.safc.qa131.C9_IDM_02_UserDeletion"/>
<listEntry value="com.qa141.dcs.C9_Devservice_03_ProjectHome_Test"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_22_UI_Test"/>
<listEntry value="com.qa151.pb.C9_PB_37_19511114_ComputeUI_ComputeUINeedsToDoSanityChecksOnSSHKeyUploads"/>
<listEntry value="com.safc.ios.IOS_C9_DB_04_PackagedApplications_Install_Run_Test"/>
<listEntry value="com.safc.android.Android_C9_DB_12_Unlock_Test"/>
<listEntry value="com.qa132.java.C9_Java_19_Security_Test"/>
<listEntry value="com.qa132.securities.C9_Security_07_adduser_Test"/>
<listEntry value="com.qa141.dcs.C9_Devservice_06_Dashboard_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_03_ComputeInstance_Filter"/>
<listEntry value="com.safc.android.Android_C9_Java_10_Unlock_Test"/>
<listEntry value="com.qa141.myservices.C9_MYS_11_QuickLinks_Test"/>
<listEntry value="com.qa132.myaccount.C9_MYA_01_loginLogout_Test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_07_NetworkGroupCreate"/>
<listEntry value="com.qa132.java.C9_Java_17_ErrorPage_Test"/>
<listEntry value="com.qa141.db.C9_DB_11_DatabaseFieldValidation_Test"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_02_Empower_Business_Test"/>
<listEntry value="com.safc.qa131.C9_CloudUI_MyAccount_Test"/>
<listEntry value="com.safc.extra.CopyOfC9_IDM_UserDeletion"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_05_ResetPwdAuto_Test"/>
<listEntry value="com.safc.qa131.C9_EMGC_08_DeleteApplication_Test"/>
<listEntry value="com.safc.ios.IOS_C9_DB_02_DataBaseApplications_Create_Run_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_21_NetworkTab_Verify"/>
<listEntry value="com.safc.ios.IOS_C9_DB_07_WebSheetApplications_Delete_Test"/>
<listEntry value="com.qa132.db.C9_DB_11_Databasefieldvalidation_Test"/>
<listEntry value="com.qa151.pb.C9_PB_43_19641329_VerifyTextInInstanceDropdownOfStorageDetails"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_04_ComputeInstance_SearchBox"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_20_SecurityTab_SSHKey_Delete"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_32_NetworkTab_AccessRules_Update"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_12_StorageVolume_Delete"/>
<listEntry value="com.qa141.myaccount.C9_MYA_04_FieldLevelCheck_Test"/>
<listEntry value="com.qa141.occs.mys.C9_GlobalMyService_Verify_Login_Test"/>
<listEntry value="com.qa141.dcs.C9_Devservice_01_Project_Test"/>
<listEntry value="com.qa132.myaccount.C9_MYA_06_Security_Test"/>
<listEntry value="com.qa132.myaccount.C9_MYA_05_ErrorHandling_Test"/>
<listEntry value="com.safc.qa131.C9_Java_Activate_Trial_JavaServices_Test"/>
<listEntry value="com.qa141.securities.C9_Security_19_Sorting_Test"/>
<listEntry value="com.safc.android.Android_C9_EMGC_01_LoginLogoutOfJavaServiceConsole_Test"/>
<listEntry value="com.safc.qa131.C9_Java_Create_Trial_JavaService_SameSAIDA_Test"/>
<listEntry value="com.safc.qa131.C9_CloudUI_MyService_Test"/>
<listEntry value="com.qa141.db.C9_DB_01_LoginLogoutOfApex_Test"/>
<listEntry value="com.qa132.myservices.C9_MYS_09_SearchFilter_Test"/>
<listEntry value="com.opc.test.BaseTest1"/>
<listEntry value="com.opc.locators.CloudHomePage24Mar_Backup"/>
<listEntry value="com.opc.locators.CloudMyServicePage"/>
<listEntry value="com.qa132.myaccount.C9_MYA_09_FunctionalityCheck_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_12_Manage_Enterprise_Performance_Test"/>
<listEntry value="com.safc.android.Android_C9_DB_11_Lock_Test"/>
<listEntry value="com.qa141.securities.C9_Security_07_AddUser_Test"/>
<listEntry value="com.qa141.securities.C9_Security_23_UI_Test"/>
<listEntry value="com.qa141.cloudui.C9_CloudUI_04_MyServicesLink_test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_08_NetworkGroupSearch"/>
<listEntry value="com.safc.android.Android_C9_CloudUI_Create_Trial_DBService_SameSAIDA_Test"/>
<listEntry value="com.qa141.cloudui.C9_CloudUI_05_MyAccount_Test"/>
<listEntry value="com.qa141.occs.paidservices.C9_OCCS_05_Verify_JAAS_AccountSetup"/>
<listEntry value="com.safc.ios.IOS_C9_CloudUI_MyAccount_Test"/>
<listEntry value="com.qa1516.cloudui.C9_LandingPage_09_Empower_People_Test"/>
<listEntry value="com.safc.qa131.C9_DB_Create_Trial_DBService_SameSAIDA_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_33_NetworkTab_AccessRules_Delete"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_09_NetworkGroupUpdate"/>
<listEntry value="com.qa141.occs.security.C9_OCCS_Security_18_Sorting_Test"/>
<listEntry value="com.qa141.occs.paidservices.C9_OCCS_06_Verify_JAAS_BrowsercertificationChecklist"/>
<listEntry value="com.safc.qa131.C9_DB_10_Administration_EditDescription_Test"/>
<listEntry value="com.safc.qa131.C9_EMGC_05_StopAplication_Test"/>
<listEntry value="com.qa141.occs.compute.C9_OCCS_26_NetworkTab_Protocols_Delete"/>
<listEntry value="com.qa141.cloudui.C9_LandingPage_13_Get_Social_Test"/>
<listEntry value="com.qa141.occs.computetabs.C9_OCCS_Network_12_PublicIpsCreate"/>
<listEntry value="com.safc.qa131.C9_DB_Activate_Trial_DBServices_Test"/>
<listEntry value="com.safc.extra.C9_IDM_AssignRole_SingelUser"/>
<listEntry value="com.qa141.db.C9_DB_07_WebSheetApplications_Delete_Test"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<mapAttribute key="org.testng.eclipse.PARAMETERS"/>
<stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
<intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
